html, body {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	height: 100%;
	justify-content: center;
	margin: 0;
	width: 100%;
}

html {
	width: 100%;
}

body {
	text-align: center;
	width: 80%;
}

hr {
	color: white;
	width: 75%;
}

p { 
	margin: 10px;
}

.vertical {
	border: solid 1px black;
	height: 150px;
	margin: 2rem;
	width: 100px;
}

.horizontal {
	border: solid 1px black;
	height: 100px;
	margin: 2rem;
	width: 150px;
}
